.nav-link{
    text-decoration: none;
    color: rgb(37, 35, 35);
}
.buy-now-button{
    background-color: black;
    color:white;
    padding: 5px 20px;
    border-radius: 5px;

}
.container{

    margin-top: 30px;
}
.card-body{
    text-align: center;
}
.card{

    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.container1{
    margin-top: 80px;
}